.main-section-title{
   font-size: 300%;
   text-align: center;
   color: aliceblue;
}
.section-title{
    font-size: 200%;
    color: aliceblue;
}
body{
    background-image: url(../images/battlefront-ii.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.character{
    display: inline-block;
    border-style: solid;
    border-color: green;
    border-width: 3px;
    cursor: pointer;
    background-color: white;
}

img{
    height: 100px;
    width: 150px;
    border-radius: 10px;
}

.character-image{
    padding-right: 16px;
    padding-left: 16px;
    margin-top: 3px;
    margin-left: 3px;
}

.character-name {text-align: center;}
.character-health {text-align: center;}